<html>

<head>
	<title>AlumNet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://5000-c253d8db-6016-469d-ae42-2e175842c32e.us-east1.cloudshell.dev/static/images/logo.png" type="image/gif">
</head>

<body style="background-color: #FFEFBD; font-family: 'Josefin Slab', serif; text-align: center">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="index"><img src="static/images/logo.png" width="50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/index">Home</a>
				<a class="nav-item nav-link active" href="#">Alum</a>
				<a class="nav-item nav-link" href="/articles">Articles</a>
				{% if session: %}
                    <a class="nav-item nav-link" href="/login">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="/login">Login</a>
                {% endif %}
			</div>
		</div>
	</nav>
	<br />
    
    <h1>Alum</h1>

        <div class="container">
        {% for user in users %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email: {{user.email}}</h6>
                    <p class="card-text">
                        Cohort: {{user.cohort}} <br>
                        Date Graduated: {{user.grad_year}} <br>
                        College: {{user.college}} <br>
                        Major: {{user.major}} <br>
                    </p>
                    <a href="/profile/{{user.username}}" class="card-link">Profile</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

        <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #08415C;">
        <div class="container">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color:white;">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class ="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a class="fb-ic">
                <i class="fab fa-facebook"></i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
                <i class="fab fa-google-plus-g"></i>         
            </a>
            <!--Linkedin -->
            <a class="li-ic">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <!--Instagram-->
            <i class="fab fa-instagram"></i>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->
        </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Upperline Code's AlumNet</h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
            <a href="/bio">Your Account</a></p>
            <p>
            <a href="#">Alumni</a>
            </p>
            <p>
            <a href="/articles">Articles</a>
            </p>
            <p>
            <a href="https://www.upperlinecode.com/faqs">FAQ</a>
            </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
            <i style='font-size:24px' class='fa'>&#xf1ad;</i> 55 Broad Street, 16th Floor New York, NY 10004</p>
            <p>
            <i style='font-size:20px' class='fa'>&#xf0e0;</i> Info@upperlinecode.com</i>
            </p>
            <p>
            <i style='font-size:24px' class='fa'>&#xf017;</i></i> 9am-5pm (Mon-Fri)</p>
            <p>
            <i style="font-size:20px" class='fa'>&#xf095;</i> (646) 653-2633</p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> 2020 &#169;
        <a href="https://www.upperlinecode.com/">Upperline Code</a>
        <p>Special thanks to Bootstrap.</p>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
    

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
