<html>

<head>
	<title>AlumNet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://5000-c253d8db-6016-469d-ae42-2e175842c32e.us-east1.cloudshell.dev/static/images/logo.png" type="image/gif">
</head>

<body style="background-color: #FFEFBD; font-family: 'Josefin Slab', serif; text-align: center;">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="index"><img src="static/images/logo.png" width="50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/index">Home</a>
				<a class="nav-item nav-link" href="/alum">Alum</a>
				<a class="nav-item nav-link active" href="#">Articles</a> <span class="sr-only">(current)</span>
				<a class="nav-item nav-link" href="/login">Login</a>
			</div>
		</div>
	</nav>
	<br />
	<!-- <form>
		<input type="text" name="nickname" placeholder="Enter your nickname"/>
		<input type="submit" value="Submit"/>
        </form> -->
        <h1>Trending Articles</h1>

                <div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="inam" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-md-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="https://camo.githubusercontent.com/17519159d7766a3a0ffad8d1aebd56d18e9ab94f/68747470733a2f2f692e696d6775722e636f6d2f783872744772342e676966" class="card-img-top">
						 				<div class="card-body">
						 					<h5 class="card-title">3D Game Shaders For Beginners</h5>
						 					<h6 class="card-subtitle">Creator: David Lettier</h6>
                                            <p class="card-text"> Interested in adding textures, lighting, shadows, normal maps, glowing objects, ambient occlusion, reflections, refractions, and more to your 3D game? 
                                                Great! Below is a collection of shading techniques that will take your game visuals to new heights. I've explained each technique in such a way that you can take what you 
                                                earn here and apply/port it to whatever stack you use—be it Godot, Unity, Unreal, or something else.  </p>
						 					<button type="button" class="btn btn-info" <a href="https://github.com/lettier/3d-game-shaders-for-beginners"</a>Go to website</button>
						 				</div>
						 			</div>	
						 		</div>
						 		<div class="col-sm-12 col-md-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="https://camo.githubusercontent.com/17519159d7766a3a0ffad8d1aebd56d18e9ab94f/68747470733a2f2f692e696d6775722e636f6d2f783872744772342e676966" class="card-img-top">
						 				<div class="card-body">
						 					<h5 class="card-title">3D Game Shaders For Beginners</h5>
						 					<h6 class="card-subtitle">Creator: David Lettier</h6>
                                            <p class="card-text"> Interested in adding textures, lighting, shadows, normal maps, glowing objects, ambient occlusion, reflections, refractions, and more to your 3D game? 
                                                Great! Below is a collection of shading techniques that will take your game visuals to new heights. I've explained each technique in such a way that you can take what you 
                                                earn here and apply/port it to whatever stack you use—be it Godot, Unity, Unreal, or something else.  </p>
						 					<button type="button" class="btn btn-info" <a href="https://github.com/lettier/3d-game-shaders-for-beginners"</a>Go to website</button>
						 				</div>
						 			</div>
						 		</div>
						 		<div class="col-sm-12 col-md-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="https://camo.githubusercontent.com/17519159d7766a3a0ffad8d1aebd56d18e9ab94f/68747470733a2f2f692e696d6775722e636f6d2f783872744772342e676966" class="card-img-top">
						 				<div class="card-body">
						 					<h5 class="card-title">3D Game Shaders For Beginners</h5>
						 					<h6 class="card-subtitle">Creator: David Lettier</h6>
                                            <p class="card-text"> Interested in adding textures, lighting, shadows, normal maps, glowing objects, ambient occlusion, reflections, refractions, and more to your 3D game? 
                                                Great! Below is a collection of shading techniques that will take your game visuals to new heights. I've explained each technique in such a way that you can take what you 
                                                earn here and apply/port it to whatever stack you use—be it Godot, Unity, Unreal, or something else.  </p>
						 					<button type="button" class="btn btn-info" <a href="https://github.com/lettier/3d-game-shaders-for-beginners"</a>Go to website</button>
						 				</div>
						 			</div>
						 		</div>
						 	</div>
						 </div>
					</div>
					<div class="carousel-item">
						 <div class="container">
						 	<div class="row">
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;margin: auto;">
						 				<img src="https://camo.githubusercontent.com/17519159d7766a3a0ffad8d1aebd56d18e9ab94f/68747470733a2f2f692e696d6775722e636f6d2f783872744772342e676966" class="card-img-top">
						 				<div class="card-body">
						 					<h5 class="card-title">3D Game Shaders For Beginners</h5>
						 					<h6 class="card-subtitle">Creator: David Lettier</h6>
                                            <p class="card-text"> Interested in adding textures, lighting, shadows, normal maps, glowing objects, ambient occlusion, reflections, refractions, and more to your 3D game? 
                                                Great! Below is a collection of shading techniques that will take your game visuals to new heights. I've explained each technique in such a way that you can take what you 
                                                earn here and apply/port it to whatever stack you use—be it Godot, Unity, Unreal, or something else.  </p>
						 					<button type="button" class="btn btn-info" <a href="https://github.com/lettier/3d-game-shaders-for-beginners"</a>Go to website</button>
						 				</div>
						 			</div>
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="https://camo.githubusercontent.com/17519159d7766a3a0ffad8d1aebd56d18e9ab94f/68747470733a2f2f692e696d6775722e636f6d2f783872744772342e676966" class="card-img-top">
						 				<div class="card-body">
						 					<h5 class="card-title">3D Game Shaders For Beginners</h5>
						 					<h6 class="card-subtitle">Creator: David Lettier</h6>
                                            <p class="card-text"> Interested in adding textures, lighting, shadows, normal maps, glowing objects, ambient occlusion, reflections, refractions, and more to your 3D game? 
                                                Great! Below is a collection of shading techniques that will take your game visuals to new heights. I've explained each technique in such a way that you can take what you 
                                                earn here and apply/port it to whatever stack you use—be it Godot, Unity, Unreal, or something else.  </p>
						 					<button type="button" class="btn btn-info" <a href="https://github.com/lettier/3d-game-shaders-for-beginners"</a>Go to website</button>
						 				</div>
						 			</div>
						 		</div>
						 		<div class="col-sm-12 col-lg-4">
						 			<div class="card" style="width: 300px;">
						 				<img src="https://camo.githubusercontent.com/17519159d7766a3a0ffad8d1aebd56d18e9ab94f/68747470733a2f2f692e696d6775722e636f6d2f783872744772342e676966" class="card-img-top">
						 				<div class="card-body">
						 					<h5 class="card-title">3D Game Shaders For Beginners</h5>
						 					<h6 class="card-subtitle">Creator: David Lettier</h6>
                                            <p class="card-text"> Interested in adding textures, lighting, shadows, normal maps, glowing objects, ambient occlusion, reflections, refractions, and more to your 3D game? 
                                                Great! Below is a collection of shading techniques that will take your game visuals to new heights. I've explained each technique in such a way that you can take what you 
                                                earn here and apply/port it to whatever stack you use—be it Godot, Unity, Unreal, or something else.  </p>
						 					<button type="button" class="btn btn-info" <a href="https://github.com/lettier/3d-game-shaders-for-beginners"</a>Go to website</button>
						 				</div>
						 			</div>
						 		</div>
						 	</div>
						 </div>
					</div>
				</div>
				<a href="#inam" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
	</div>
</div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>