<html>

<head>
	<title>AlumNet</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://5000-c253d8db-6016-469d-ae42-2e175842c32e.us-east1.cloudshell.dev/static/images/logo.png" type="image/gif">
</head>

<body style="font-family: 'Josefin Slab', serif;">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="static/images/logo.png" width="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/alum">Alum</a>
                    <a class="nav-item nav-link" href="/articles">Articles</a>
                    {% if session: %}
                        <a class="nav-item nav-link" href="/login">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="/login">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

     <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" height = "80%" width ="100%" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Coding</h1>
                <p>On the first day, we learned how to code in python.</p>
                <p><a class="btn btn-lg btn-primary" href="https://github.com/upperlinecode/john-jacob-python-string-methods" role="button" target="_blank">Go to Github</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="static/images/mural.png" height = "80%" width ="100%" alt="Second slide">
            <div class="container">
              <div class="carousel-caption" style="color: DarkBlue;">
                <h1>First Group Mural</h1>
                <p>On July 13th, the Goldman Sachs cohort concocted the greatest piece of art ever!</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.metmuseum.org/" role="button" target="_blank">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="static/images/image.png" height = "80%" width ="100%" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right" style="color: red;">
                <h1>Picture Day</h1>
                <p>The Goldman Sachs group spot owls at daylight.</p>
                <p><a class="btn btn-lg btn-primary" href="https://harrypotter.fandom.com/wiki/Owl" role="button" target="_blank">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <br /><br />
    
    <div class="container">
        <div class="jumbotron" style="color: #08415C; background-color: #A3D9FF">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">We built this website to bring together graduates of Upperline Code's Fintech Focus program.</p>
            <hr class="my-4">
            <p>
                During the course of the program, we built a community of awesome people who love to code.
                In order to make sure we stay connected with each other and maintain our lovely community,
                we built this social network to ensure we all keep supporting each other on our coding journeys.
            </p>
            <a class="btn btn-primary btn-lg" href="https://www.upperlinecode.com/" role="button" target="_blank">Learn more</a>
        </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
